body {
    font-family: 'Open Sans', sans-serif;
    color: DarkBlue;
    margin: 10px 50px;
    background-color: Ivory;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    color: darkblue !important; /* Ensure headings are DarkBlue */
}

img {
    vertical-align: middle;
    margin-right: 10px;
}

a.nav-link {
    color: white !important;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 300px;
}

.content {
    margin-top: 60px; /* Adjust for fixed navbar */
}